In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/cleaned_data.csv')

In [3]:
# Keep only the rows where 'ScenarioTypeStrict' is Utilitarian
df = df[df['ScenarioTypeStrict'] == 'Utilitarian']

In [6]:
# Change the datatypes to reduce memory usage
df[['ResponseID', 'ExtendedSessionID', 'UserID', 'AttributeLevel','ScenarioTypeStrict']] = df[['ResponseID', 'ExtendedSessionID', 'UserID', 'AttributeLevel','ScenarioTypeStrict']].astype(str)
df[["PedPed", "Barrier", "CrossingSignal", "NumberOfCharacters", "DiffNumberOFCharacters", "Man", "Woman", "Pregnant", "Stroller", "OldMan", "OldWoman", "Boy", "Girl", "Homeless", "LargeWoman", "LargeMan", "Criminal", "MaleExecutive", "FemaleExecutive", "FemaleAthlete", "MaleAthlete", "FemaleDoctor", "MaleDoctor", "Dog", "Cat", "Saved"]] = df[["PedPed", "Barrier", "CrossingSignal", "NumberOfCharacters", "DiffNumberOFCharacters", "Man", "Woman", "Pregnant", "Stroller", "OldMan", "OldWoman", "Boy", "Girl", "Homeless", "LargeWoman", "LargeMan", "Criminal", "MaleExecutive", "FemaleExecutive", "FemaleAthlete", "MaleAthlete", "FemaleDoctor", "MaleDoctor", "Dog", "Cat", "Saved"]].astype(float).round().astype('int8')
df[["Finance_access", "ICT", "Industry_activity", "Overall_index", "Research_and_development", "Skills", "Total", "Males", "Females", "Passengers", "Pedestrians"]] = df[["Finance_access", "ICT", "Industry_activity", "Overall_index", "Research_and_development", "Skills", "Total", "Males", "Females", "Passengers", "Pedestrians"]].astype('float32')

In [7]:
df.head(10)

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters,DiffNumberOFCharacters,...,ICT,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians
1,2223jMWDEGNeszivb,-1683127088_785070916172117.0,785070916172117.0,1,0,2,More,Utilitarian,5,2,...,0.65,0.90,0.9,0.70,0.80,2.90,4.200000,1.60,0.5076,0.6237
7,222t9Qtkcc4EnQvcc,1829270983_2465676825.0,2465676825.0,1,0,0,More,Utilitarian,5,2,...,0.80,0.80,0.9,0.70,0.75,5.80,8.150000,3.45,3.7294,0.8816
9,223NQzNqcbab7XWQn,-409747588_5976174606267197.0,5976174606267200.0,1,0,1,More,Utilitarian,5,1,...,0.50,0.35,0.3,0.10,0.35,9.50,15.250000,3.80,4.5066,3.6540
10,223XvWBRQXCSipSYc,766265324_2810740042987227.0,2810740042987230.0,0,0,0,More,Utilitarian,5,4,...,0.70,0.90,0.9,0.80,0.75,5.50,8.550000,2.70,2.9920,0.8855
17,225e6AAuRbMsFLmPw,800690618_8381025834549560.0,8381025834549560.0,0,0,0,Less,Utilitarian,2,3,...,0.80,0.90,0.9,0.80,0.75,4.20,6.350000,2.15,1.9120,0.6120
26,227gGYuJbkNkNu88M,794680652_2009488853,2009488853.0,1,0,2,More,Utilitarian,5,3,...,0.65,0.80,1.0,1.00,0.75,12.50,17.850000,7.25,3.9603,1.9737
33,229AS4ANJzqkECeWr,1306199838_2127450984180964.0,2127450984180960.0,0,1,0,Less,Utilitarian,3,2,...,0.80,0.80,0.9,0.75,0.85,2.95,4.600000,1.45,1.1550,0.7110
44,22Cae6oDkuos6M95r,-1320695533_5145629569646102.0,5145629569646100.0,1,0,2,More,Utilitarian,5,3,...,0.80,0.85,0.9,0.80,0.55,4.15,5.750000,2.60,1.3284,1.4350
45,22CkrHxN6aHCycTAW,1483952635_459994496,459994496.0,0,1,0,More,Utilitarian,5,2,...,0.70,0.90,0.9,0.80,0.75,5.50,8.550000,2.70,2.9920,0.8855
55,22EnPHDydkozvrsmN,959039305_2158440549669984.0,2158440549669980.0,1,0,2,Less,Utilitarian,2,3,...,0.45,0.70,0.7,0.60,0.55,20.35,33.900002,7.15,4.6168,3.6019

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1650336 entries, 1 to 9999987
Data columns (total 43 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ResponseID                1650336 non-null  object
 1   ExtendedSessionID         1650336 non-null  object
 2   UserID                    1650336 non-null  object
 3   PedPed                    1650336 non-null  int8
 4   Barrier                   1650336 non-null  int8
 5   CrossingSignal            1650336 non-null  int8
 6   AttributeLevel            1650336 non-null  object
 7   ScenarioTypeStrict        1650336 non-null  object
 8   NumberOfCharacters        1650336 non-null  int8
 9   DiffNumberOFCharacters    1650336 non-null  int8
 10  Saved                     1650336 non-null  int8
 11  Country                   1650336 non-null  object
 12  Man                       1650336 non-null  int8
 13  Woman                     1650336 non-null  int8
 14  Pregnant                  1650336 non-null  int8
 15  Stroller                  1650336 non-null  int8
 16  OldMan                    1650336 non-null  int8
 17  OldWoman                  1650336 non-null  int8
 18  Boy                       1650336 non-null  int8
 19  Girl                      1650336 non-null  int8
 20  Homeless                  1650336 non-null  int8
 21  LargeWoman                1650336 non-null  int8
 22  LargeMan                  1650336 non-null  int8
 23  Criminal                  1650336 non-null  int8
 24  MaleExecutive             1650336 non-null  int8
 25  FemaleExecutive           1650336 non-null  int8
 26  FemaleAthlete             1650336 non-null  int8
 27  MaleAthlete               1650336 non-null  int8
 28  FemaleDoctor              1650336 non-null  int8
 29  MaleDoctor                1650336 non-null  int8
 30  Dog                       1650336 non-null  int8
 31  Cat                       1650336 non-null  int8
 32  Finance_access            1650336 non-null  float32
 33  ICT                       1650336 non-null  float32
 34  Industry_activity         1650336 non-null  float32
 35  Overall_index             1650336 non-null  float32
 36  Research_and_development  1650336 non-null  float32
 37  Skills                    1650336 non-null  float32
 38  Total                     1650336 non-null  float32
 39  Males                     1650336 non-null  float32
 40  Females                   1650336 non-null  float32
 41  Passengers                1650336 non-null  float32
 42  Pedestrians               1650336 non-null  float32
dtypes: float32(11), int8(26), object(6)
memory usage: 198.3+ MB

In [9]:
df_less = df[df['AttributeLevel'] == "Less"]

# Keep only the rows where 'AttributeLevel' is More and the column 'ResponseID' and 'NumberOfCharacters'
df_more_less = df[df['AttributeLevel'] == "More"][['ResponseID', 'NumberOfCharacters']]

df_more_less.head()

           ResponseID  NumberOfCharacters
1   2223jMWDEGNeszivb                   5
7   222t9Qtkcc4EnQvcc                   5
9   223NQzNqcbab7XWQn                   5
10  223XvWBRQXCSipSYc                   5
26  227gGYuJbkNkNu88M                   5

In [10]:
# Merge the df_less and df_more_less dataframes on the 'ResponseID' column
df_merged_less = pd.merge(df_less, df_more_less, on='ResponseID')

# Create a new column 'Difference' that is the difference between the 'NumberOfCharacters_x' and 'NumberOfCharacters_y' columns
df_merged_less['NumberOfLivesSaved'] = df_merged_less['NumberOfCharacters_x'] - df_merged_less['NumberOfCharacters_y']

# Delete the 'NumberOfCharacters_y' column
df_merged_less = df_merged_less.drop(columns=['NumberOfCharacters_y'])

df_merged_less.head()

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters_x,DiffNumberOFCharacters,...,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians,NumberOfLivesSaved
0,225e6AAuRbMsFLmPw,800690618_8381025834549560.0,8381025834549560.0,0,0,0,Less,Utilitarian,2,3,...,0.9,0.90,0.80,0.75,4.20,6.350000,2.15,1.9120,0.6120,-3
1,229AS4ANJzqkECeWr,1306199838_2127450984180964.0,2127450984180960.0,0,1,0,Less,Utilitarian,3,2,...,0.8,0.90,0.75,0.85,2.95,4.600000,1.45,1.1550,0.7110,-2
2,22EnPHDydkozvrsmN,959039305_2158440549669984.0,2158440549669980.0,1,0,2,Less,Utilitarian,2,3,...,0.7,0.70,0.60,0.55,20.35,33.900002,7.15,4.6168,3.6019,-3
3,22Kp459kE4XnpkBhC,1828530624_3085943025398171.0,3085943025398170.0,0,0,1,Less,Utilitarian,2,3,...,0.9,0.95,0.70,0.85,3.80,5.650000,1.95,1.4440,0.3496,-3
4,22PbQ7njqmSP7Jwnr,-1145927433_4193653037.0,4193653037.0,0,1,0,Less,Utilitarian,1,4,...,0.9,0.90,0.80,0.75,5.50,8.550000,2.70,2.9920,0.8855,-4

In [11]:
df_more = df[df['AttributeLevel'] == "More"]

# Keep only the rows where 'AttributeLevel' is More and the column 'ResponseID' and 'NumberOfCharacters'
df_less_more = df[df['AttributeLevel'] == "Less"][['ResponseID', 'NumberOfCharacters']]

df_less_more.head()

           ResponseID  NumberOfCharacters
17  225e6AAuRbMsFLmPw                   2
33  229AS4ANJzqkECeWr                   3
55  22EnPHDydkozvrsmN                   2
70  22Kp459kE4XnpkBhC                   2
87  22PbQ7njqmSP7Jwnr                   1

In [12]:
# Merge the df_more and df_less_more dataframes on the 'ResponseID' column
df_merged_more = pd.merge(df_more, df_less_more, on='ResponseID')

# Create a new column 'Difference' that is the difference between the 'NumberOfCharacters_x' and 'NumberOfCharacters_y' columns
df_merged_more['NumberOfLivesSaved'] = df_merged_more['NumberOfCharacters_x'] - df_merged_more['NumberOfCharacters_y']

# Delete the 'NumberOfCharacters_y' column
df_merged_more = df_merged_more.drop(columns=['NumberOfCharacters_y'])

df_merged_more.head()

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters_x,DiffNumberOFCharacters,...,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians,NumberOfLivesSaved
0,2223jMWDEGNeszivb,-1683127088_785070916172117.0,785070916172117.0,1,0,2,More,Utilitarian,5,2,...,0.90,0.9,0.7,0.80,2.9,4.20,1.60,0.5076,0.6237,2
1,222t9Qtkcc4EnQvcc,1829270983_2465676825.0,2465676825.0,1,0,0,More,Utilitarian,5,2,...,0.80,0.9,0.7,0.75,5.8,8.15,3.45,3.7294,0.8816,2
2,223NQzNqcbab7XWQn,-409747588_5976174606267197.0,5976174606267200.0,1,0,1,More,Utilitarian,5,1,...,0.35,0.3,0.1,0.35,9.5,15.25,3.80,4.5066,3.6540,1
3,223XvWBRQXCSipSYc,766265324_2810740042987227.0,2810740042987230.0,0,0,0,More,Utilitarian,5,4,...,0.90,0.9,0.8,0.75,5.5,8.55,2.70,2.9920,0.8855,4
4,227gGYuJbkNkNu88M,794680652_2009488853,2009488853.0,1,0,2,More,Utilitarian,5,3,...,0.80,1.0,1.0,0.75,12.5,17.85,7.25,3.9603,1.9737,3

In [13]:
# Concatenate the dataframes
utilitarian_subset = pd.concat([df_merged_less, df_merged_more], ignore_index=True)

utilitarian_subset.head()

,ResponseID,ExtendedSessionID,UserID,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,NumberOfCharacters_x,DiffNumberOFCharacters,...,Industry_activity,Overall_index,Research_and_development,Skills,Total,Males,Females,Passengers,Pedestrians,NumberOfLivesSaved
0,225e6AAuRbMsFLmPw,800690618_8381025834549560.0,8381025834549560.0,0,0,0,Less,Utilitarian,2,3,...,0.9,0.90,0.80,0.75,4.20,6.350000,2.15,1.9120,0.6120,-3
1,229AS4ANJzqkECeWr,1306199838_2127450984180964.0,2127450984180960.0,0,1,0,Less,Utilitarian,3,2,...,0.8,0.90,0.75,0.85,2.95,4.600000,1.45,1.1550,0.7110,-2
2,22EnPHDydkozvrsmN,959039305_2158440549669984.0,2158440549669980.0,1,0,2,Less,Utilitarian,2,3,...,0.7,0.70,0.60,0.55,20.35,33.900002,7.15,4.6168,3.6019,-3
3,22Kp459kE4XnpkBhC,1828530624_3085943025398171.0,3085943025398170.0,0,0,1,Less,Utilitarian,2,3,...,0.9,0.95,0.70,0.85,3.80,5.650000,1.95,1.4440,0.3496,-3
4,22PbQ7njqmSP7Jwnr,-1145927433_4193653037.0,4193653037.0,0,1,0,Less,Utilitarian,1,4,...,0.9,0.90,0.80,0.75,5.50,8.550000,2.70,2.9920,0.8855,-4

In [14]:
utilitarian_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650336 entries, 0 to 1650335
Data columns (total 44 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   ResponseID                1650336 non-null  object
 1   ExtendedSessionID         1650336 non-null  object
 2   UserID                    1650336 non-null  object
 3   PedPed                    1650336 non-null  int8
 4   Barrier                   1650336 non-null  int8
 5   CrossingSignal            1650336 non-null  int8
 6   AttributeLevel            1650336 non-null  object
 7   ScenarioTypeStrict        1650336 non-null  object
 8   NumberOfCharacters_x      1650336 non-null  int8
 9   DiffNumberOFCharacters    1650336 non-null  int8
 10  Saved                     1650336 non-null  int8
 11  Country                   1650336 non-null  object
 12  Man                       1650336 non-null  int8
 13  Woman                     1650336 non-null  int8
 14  Pregnant                  1650336 non-null  int8
 15  Stroller                  1650336 non-null  int8
 16  OldMan                    1650336 non-null  int8
 17  OldWoman                  1650336 non-null  int8
 18  Boy                       1650336 non-null  int8
 19  Girl                      1650336 non-null  int8
 20  Homeless                  1650336 non-null  int8
 21  LargeWoman                1650336 non-null  int8
 22  LargeMan                  1650336 non-null  int8
 23  Criminal                  1650336 non-null  int8
 24  MaleExecutive             1650336 non-null  int8
 25  FemaleExecutive           1650336 non-null  int8
 26  FemaleAthlete             1650336 non-null  int8
 27  MaleAthlete               1650336 non-null  int8
 28  FemaleDoctor              1650336 non-null  int8
 29  MaleDoctor                1650336 non-null  int8
 30  Dog                       1650336 non-null  int8
 31  Cat                       1650336 non-null  int8
 32  Finance_access            1650336 non-null  float32
 33  ICT                       1650336 non-null  float32
 34  Industry_activity         1650336 non-null  float32
 35  Overall_index             1650336 non-null  float32
 36  Research_and_development  1650336 non-null  float32
 37  Skills                    1650336 non-null  float32
 38  Total                     1650336 non-null  float32
 39  Males                     1650336 non-null  float32
 40  Females                   1650336 non-null  float32
 41  Passengers                1650336 non-null  float32
 42  Pedestrians               1650336 non-null  float32
 43  NumberOfLivesSaved        1650336 non-null  int8
dtypes: float32(11), int8(27), object(6)
memory usage: 187.3+ MB

In [15]:
utilitarian_subset.to_csv('Data/utilitarian_subset.csv', index=False)